{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}UpSkill LMS Platform{% endblock %}</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="UPSKILL">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/tiny-slider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/glightbox.css' %}">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	

	{% block extra_css %}{% endblock %}
	
</head>

<body>

	<!-- Header START -->
	<header class="navbar-light navbar-sticky header-static">
		<!-- Logo Nav START -->
		<nav class="navbar navbar-expand-xl">
			<div class="container-fluid px-3 px-xl-5">
				<!-- Logo START -->
				<a class="navbar-brand" href="{% url 'home' %}">
					<img class="light-mode-item navbar-brand-item" src="{% static 'images/logo_upskill.png' %}" width="100" alt="logo">
					
				</a>
				<!-- Logo END -->

				<!-- Responsive navbar toggler -->
				<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-animation">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</button>

				<!-- Main navbar START -->
				<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

					<!-- Nav category menu START -->
					
					<ul class="navbar-nav navbar-nav-scroll me-auto">
						<!-- Nav item 1 Demos -->
						<li class="nav-item dropdown dropdown-menu-shadow-stacked">
							<a class="nav-link bg-primary bg-opacity-10 rounded-3 text-primary px-3 py-3 py-xl-0" href="#" id="categoryMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-list-ul me-2"></i><span>Category</span></a>
							<ul class="dropdown-menu" aria-labelledby="categoryMenu">

								<!-- Dropdown submenu -->
							
								<li> <a class="dropdown-item" href="#">Frontend</a></li>
								<li> <a class="dropdown-item" href="#">Backend</a></li>
								<li> <a class="dropdown-item" href="#">DevOps</a></li>
								<!-- <li> <a class="dropdown-item" href="#">Personal development</a></li>
								<li> <a class="dropdown-item" href="#">Health & fitness</a></li>
								<li> <a class="dropdown-item" href="#">Teaching</a></li>
								<li> <a class="dropdown-item" href="#">Social science</a></li>
								<li> <a class="dropdown-item" href="#">Math & logic</a></li>
								<li> <hr class="dropdown-divider"></li>
								 -->
							</ul>
						</li>
					</ul>

					<!-- Nav category menu END -->

					<!-- Nav Main menu START -->
					<ul class="navbar-nav navbar-nav-scroll me-auto">
						<!-- Nav item 1 Demos -->
						<li class="nav-item">
							<a class="nav-link active" href="{% url 'course_list' %}">Courses</a>
						</li>
						{% if user.is_authenticated %}
						<!-- Nav item 2 Pages -->
						<li class="nav-item">
							<a class="nav-link" href="{% url 'user_dashboard' %}">Dashboard</a>
						</li>	

						<!-- Nav item 3 Account -->
						<li class="nav-item">
							<a class="nav-link" href="{% url 'logout' %}" >Logout</a>
						</li>
						{% else %}
						<!-- Nav item 4 Megamenu-->
						<li class="nav-item">
							<a class="nav-link" href="{% url 'login' %}">Login</a>
						</li>

						<!-- Nav item 5 link-->
						<li class="nav-item">
							<a class="nav-link" href="{% url 'register' %}">
								Register
							</a>
						</li>
						{% endif %}
					</ul>
					<!-- Nav Main menu END -->

					<!-- Nav Search START -->
					<div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
						<div class="nav-item w-100">
							<form class="position-relative">
								<input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search">
								<button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
							</form>
						</div>
					</div>
					<!-- Nav Search END -->
				</div>
				<!-- Main navbar END -->

				<!-- Profile START -->
				<div class="dropdown ms-1 ms-lg-0">
					<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
						<img class="avatar-img rounded-circle" src="https://res.cloudinary.com/dn08cgwod/image/upload/c_thumb,w_200,g_face/v1729630572/01_nsvchb.png" width="30" alt="avatar">
					</a>
					<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
						<!-- Profile info -->
						<li class="px-3">
							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar me-3">
									<img class="avatar-img rounded-circle shadow" src="https://res.cloudinary.com/dn08cgwod/image/upload/c_thumb,w_200,g_face/v1729630572/01_nsvchb.png" width="40" alt="avatar">
								</div>
								<div>
									<a class="h6" href="#">Lori Ferguson</a>
									<p class="small m-0">example@gmail.com</p>
								</div>
							</div>
							<hr>
						</li>
						<!-- Links -->
						<!-- <li><a class="dropdown-item" href="#"><i class="bi bi-person fa-fw me-2"></i>Edit Profile</a></li>
						<li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Account Settings</a></li>
						<li><a class="dropdown-item" href="#"><i class="bi bi-info-circle fa-fw me-2"></i>Help</a></li> -->
						<li><a class="dropdown-item bg-danger-soft-hover" href="#"><i class="fa fa-right-from-bracket me-2"></i>Sign Out</a></li>
						
						
					</ul>
				</div>
				<!-- Profile START -->
			</div>
		</nav>
		<!-- Logo Nav END -->
	</header>
	<!-- Header END -->


	

<main>
{% block content %}

{% endblock %}
</main>

	<!-- =======================
	Footer START -->
	<footer class="pt-5">
		<div class="container">
			<!-- Row START -->
			<div class="row g-4">

				<!-- Widget 1 START -->
				<div class="col-lg-3">
					<!-- logo -->
					<a class="me-0" href="{% url 'home' %}">
						<img class="light-mode-item h-40px" src="{% static 'images/logo_upskill.png' %}" width="100" alt="logo">
						<!-- <img class="dark-mode-item h-40px" src="{% static 'images/logo-light.svg' %}" width="100" alt="logo"> -->
					</a>
					<p class="my-3">UpSkill is a platform that help to kick start your journey towards becoming a software engineer. </p>
					<!-- Social media icon -->
					<ul class="list-inline mb-0 mt-3">
						<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-facebook" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
						<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-instagram" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
						<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-twitter" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
						<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-linkedin" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
					</ul>
				</div>
				<!-- Widget 1 END -->

				<!-- Widget 2 START -->
				<div class="col-lg-6">
					<div class="row g-4">
						<!-- Link block -->
						<div class="col-6 col-md-4">
							<h5 class="mb-2 mb-md-4">Company</h5>
							<ul class="nav flex-column">
								<li class="nav-item"><a class="nav-link" href="#">About us</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Contact us</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Library</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Career</a></li>
							</ul>
						</div>
										
						<!-- Link block -->
						<div class="col-6 col-md-4">
							<h5 class="mb-2 mb-md-4">Community</h5>
							<ul class="nav flex-column">
								<li class="nav-item"><a class="nav-link" href="#">Join Our WhatsApp</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Join Our Telegram</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Join Our Slack</a></li>
							</ul>
						</div>

						<!-- Link block -->
						<div class="col-6 col-md-4">
							<h5 class="mb-2 mb-md-4">Teaching</h5>
							<ul class="nav flex-column">
								<li class="nav-item"><a class="nav-link" href="#">Become a teacher</a></li>
								<li class="nav-item"><a class="nav-link" href="#">How to guide</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Terms &amp; Conditions</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Widget 2 END -->

				<!-- Widget 3 START -->
				<div class="col-lg-3">
					<h5 class="mb-2 mb-md-4">Contact</h5>
					<!-- Time -->
					<p class="mb-2">
						Mobile Number:<span class="h6 fw-light ms-2">+234 901 517 0830</span>
						<span class="d-block small">(9:AM to 8:PM WAT)</span>
					</p>

					<p class="mb-0">Email:<span class="h6 fw-light ms-2">info@africaplanfoundation.org</span></p>

					<div class="row g-2 mt-2">
						<!-- Google play store button -->
						<div class="col-6 col-sm-4 col-md-3 col-lg-6">
							<a href="#"> <img src="{% static 'images/client/google-play.svg' %}" alt=""> </a>
						</div>
						<!-- App store button -->
						<div class="col-6 col-sm-4 col-md-3 col-lg-6">
							<a href="#"> <img src="{% static 'images/client/app-store.svg' %}" alt="app-store"> </a>
						</div>
					</div> <!-- Row END -->
				</div> 
				<!-- Widget 3 END -->
			</div><!-- Row END -->

			<!-- Divider -->
			<hr class="mt-4 mb-0">

			<!-- Bottom footer -->
			<div class="py-3">
				<div class="container px-0">
					<div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left">
						<!-- copyright text -->
						<div class="text-primary-hover"> Copyrights <a href="#" class="text-body">©2024 UpSkill.</a>. All rights reserved. | Theme by Eduport.</div>
						<!-- copyright links-->
						<div class=" mt-3 mt-md-0">
							<ul class="list-inline mb-0">
								
								<li class="list-inline-item"><a class="nav-link" href="#">Terms of use</a></li>
								<li class="list-inline-item"><a class="nav-link pe-0" href="#">Privacy policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- =======================
	Footer END -->

<!-- Back to top -->
	<!-- <div class="back-top"><i class="fa fa-chevron-up position-absolute top-50 start-50 translate-middle"></i></div> -->
	<div class="back-top"><i class="fa fa-chevron-up"></i></div>
	<!-- Bootstrap JS -->
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

	<!-- Vendors -->
	<script src="{% static 'js/tiny-slider.js' %}"></script>
	
	<script src="{% static 'js/purecounter_vanilla.js' %}"></script>


	<!-- Template Functions -->
	<script src="{% static 'js/functions.js' %}"></script>
</body>
</html>