{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}

<h1 class="mt-5 mb-4">Enrolled Courses</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for course in enrolled_courses %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description|truncatewords:20 }}</p>
                    <a href="{% url 'course_detail' course.id %}" class="btn btn-secondary">Continue Learning</a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col">
            <p>You are not enrolled in any courses.</p>
        </div>
    {% endfor %}
</div>

<!-- Available Courses -->
<h1 class="mb-4 mt-5">Available Courses</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for course in available_courses %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description|truncatewords:20 }}</p>
                    <a href="{% url 'enroll_course' course.id %}" class="btn btn-primary">Enroll</a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col">
            <p>No available courses.</p>
        </div>
    {% endfor %}
</div>


{% endblock %}